server:
  port: ${PORT:8080}
  servlet:
    context-path: /isp392
  forward-headers-strategy: framework
spring:
  datasource:
    url: jdbc:sqlserver://url:1433;databaseName=ISP392_FOODSYSTEM;encrypt=true;trustServerCertificate=true;
    username: username
    password: password
    # url: jdbc:sqlserver://localhost:1433;databaseName=FOODSYSTEM;encrypt=true;trustServerCertificate=true;
    # username: sa
    # password: 12345
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.SQLServerDialect
    # properties:
    #   hibernate.jdbc.time_zone: Asia/Ho_Chi_Minh
  mail:
    host: smtp.gmail.com
    port: 587
    username: moncuaban@gmail.com
    password: password
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: google-client-id
            client-secret: google-client-secret
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - email
              - profile
        provider:
          google:
            issuer-uri: https://accounts.google.com

app:
  frontend:
    reset-password-url: ${FRONTEND_RESET_PASSWORD_URL:http://localhost:5173/reset-password}
    # reset-password-url: ${http://moncuaban.vercel.app/reset-password}
    verify-email-url: ${FRONTEND_VERIFY_EMAIL_URL:http://localhost:5173/verify-email}
    google-callback-url: ${FRONTEND_GOOGLE_CALLBACK_URL:https://moncuaban.vercel.app/auth/callback}
jwt:
  signerKey: fgSgZOIgNe6UNMGTaXNyQTMEIcx/cRzJxMXxFFu6npVmY6nfNM55d9UlAAU+ehbJ

cloudinary:
  cloud-name: dvcosaetb
  api-key:  cloudinary-api-key
  api-secret: cloudinary-api-secret

payos:
  client-id: payos-client-id
  api-key: payos-api-key
  checksum-key: payos-checksum-key
  return-url: ${PAYOS_RETURN_URL:http://localhost:5173/payment/success}
  cancel-url: ${PAYOS_CANCEL_URL:http://localhost:5173/payment/cancel}
  webhook-key: payos-webhook-key
logging:
  file:
    name: /app/logs/app.log
  level:
    root: INFO
    com.isp392: DEBUG

# --- ĐÃ SỬA ---
# Khối 'google' này được di chuyển ra ngoài (xóa thụt vào)
# để nó không còn nằm trong 'logging.level'
google:
  gemini:
    project-id: "${GOOGLE_GEMINI_PROJECT_ID}"
    location: "${GOOGLE_GEMINI_LOCATION}"
    model-name: "${GOOGLE_GEMINI_MODEL_NAME}"
